<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtechinc.cruzr.nineteenbig"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="com.ubtechinc.cruzr.nineteenbig.NineApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity
            android:name=".HotImgActivity"
            android:screenOrientation="landscape"
            android:enabled="true"
            android:exported="true"
            >
            <!-- 
            <intent-filter>
                <action android:name="com.cruzr.hotimage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter> -->
         
        </activity>
          <activity
            android:name=".TestScreenActivity"
            android:screenOrientation="landscape"
            android:enabled="true"
            android:exported="true"
            >
           
          
        </activity>
          <activity
            android:name=".ImageActivity"
            android:screenOrientation="landscape"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                
                <action android:name="com.cruzr.image"/>
                <category android:name="android.intent.category.DEFAULT"/>
         
            </intent-filter>
            
        </activity>
        <service android:name="com.ubtechinc.cruzr.nineteenbig.service.ServiceProxy" android:exported="false"></service>
     
        <receiver android:name="com.ubtechinc.cruzr.nineteenbig.receiver.ApproachReceiver">
             <intent-filter>
                <action android:name="com.ubtechinc.cruzr.coreservices.ACTION.DETECT_OBJECT"/>
                <action android:name="com.ubtechinc.cruzr.coreservices.ACTION.DETECT_EMPTY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
